.energy-slim {
  margin-bottom: 20px;
}

.energy-slim__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: @basic-gray;
  padding: 24px 35px 23px 20px;
}

.energy-slim__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: @basic-black;
  margin: 0;
  margin-left: 19px;
}

.energy-slim__description {
  position: relative;
  font-family: @font-second;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @basic-dark;
  padding-bottom: 22px;
  border-bottom: 1px solid @gray-special-pro;
  margin: 22px 0 15px;
}

.energy-slim__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: @basic-black;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 12px;
    background-image: url(../img/icon/icon-arrow.svg);
    top: calc(50% - 6px);
    left: 100px;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .energy-slim {
    margin-bottom: 30px;
  }

  .energy-slim__wrapper {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: auto auto auto;
    padding: 70px 61px 63px 53px;
  }

  .energy-slim__title {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 36px;
    line-height: 36px;
    margin: 0  0 24px 0;
  }

  .energy-slim__description {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 16px;
    line-height: 24px;
    border: 0;
    padding: 0;
    margin: 0 54px 53px 0;
  }

  .energy-slim__link {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 20px;
    line-height: 30px;

    &::after {
      top: calc(50% - 7px);
      left: 133px;
    }
  }

  .energy-slim__image {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: -1;
    width: 200px;
    height: 211px;
    align-self: flex-start;
    margin-top: 5px;
  }
}

@media (min-width: @desktop-width) {
  .energy-slim {
    margin: 0;
  }

  .energy-slim__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 36px 51px 59px 52px;
  }

  .energy-slim__title {
    margin: 0 0 0 62px;
  }

  .energy-slim__description {
    margin: 39px 0 27px 0;
  }

  .energy-slim__link {
    padding: 0;

    &::after {
      top: calc(50% - 7px);
      left: 136px;
    }
  }

  .energy-slim__image {
    width: 100px;
    height: 106px;
  }
}
