.energy-pro {
  margin-bottom: 27px;
}

.energy-pro__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: @basic-gray;
  padding: 24px 35px 24px 20px;
}

.energy-pro__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: @basic-black;
  margin: 0;
  margin-left: 19px;
}

.energy-pro__image {
  margin-left: -10px;
  margin-right: -5px;
}

.energy-pro__description {
  position: relative;
  font-family: @font-second;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @basic-dark;
  padding-bottom: 23px;
  border-bottom: 1px solid @gray-special-pro;
  margin: 22px 0 16px;
}

.energy-pro__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: @basic-black;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 12px;
    background-image: url(../img/icon/icon-arrow.svg);
    top: calc(50% - 6px);
    left: 100px;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .energy-pro {
    margin-bottom: 38px;
  }

  .energy-pro__wrapper {
    display: grid;
    grid-template-columns: 1fr 268px;
    grid-template-rows: auto auto auto;
    padding: 70px 28px 55px 53px;
  }

  .energy-pro__title {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 36px;
    line-height: 36px;
    margin: 0  0 24px 0;
  }

  .energy-pro__description {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 16px;
    line-height: 24px;
    margin: 0 15px 53px 0;
    border: 0;
    padding: 0;
  }

  .energy-pro__link {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 8px;

    &::after {
      top: calc(50% - 10px);
      left: 128px;
    }
  }

  .energy-pro__image {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: -1;
    width: 268px;
    height: 200px;
    align-self: flex-start;
    margin-top: 15px;
    justify-self: right;
  }
}

@media (min-width: @desktop-width) {
  .energy-pro {
    margin: 0;
  }

  .energy-pro__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 51px 59px 42px;
  }

  .energy-pro__title {
    margin: 8px 0 0 52px;
  }

  .energy-pro__description {
    margin: 39px 0 27px 10px;
  }

  .energy-pro__link {
    padding: 0;
    margin-left: 10px;

    &::after {
      left: 130px;
      top: calc(50% - 7px);
    }
  }

  .energy-pro__image {
    width: 134px;
    height: 100px;
  }
}
