.energy-slim {
  padding: 0 20px;
  margin-bottom: 20px;
}

.energy-slim__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: @basic-gray;
  padding: 24px 35px 23px 20px;
}

.energy-slim__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: @basic-black;
  margin: 0;
  margin-left: 19px;
}

.energy-slim__description {
  position: relative;
  font-family: @font-second;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @basic-dark;
  margin: 22px 0 38px;
}

.energy-slim__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: @basic-black;
}
