.optionally {
  padding-top: 23px;
  margin: 0 auto;
}

.optionally__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @basic-black;
  margin: 0 0 36px 0;
  position: relative;
}

.optionally__title::after {
  content: "";
  position: absolute;
  width: 50vw;
  height: 2px;
  background-color: @basic-green;
  top: 50%;
  left: 248px;
}

.optionally__title::before {
  content: "";
  position: absolute;
  width: 1000px;
  height: 2px;
  background-color: @basic-green;
  top: 50%;
  right: 300px;
}

.optionally__list {
  list-style: none;
  margin: 0 0 36px 0;
  padding: 0;
}

.optionally__item {
  border-top: 1px solid @light-gray-vogue;
  padding: 12px 0 18px;

  &:last-child {
    border-bottom: 1px solid @light-gray-vogue;
  }
}

.optionally__item-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: @basic-dark-vogue;
  margin: 0 0 13px 0;
}

.optionally__item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 15px;
}

.optionally__item-key {
  font-family: @font-second;
  font-size: 14px;
  line-height: 14px;
  color: @basic-dark;
}

.optionally__item-meaning {
  font-family: @font-second;
  font-size: 14px;
  line-height: 14px;
  color: @basic-dark;
  text-transform: uppercase;
}


.optionally__item-button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

.optionally__item-link {
  text-decoration: none;
  color: @basic-white;
}

.optionally__offer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
  height: 289px;
  background-image: url("../img/background/cat-background-box.png");
  background-repeat: no-repeat;
  margin-bottom: 35px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 83px;
    background-image: url("../img/icon/icon-gift.svg");
    background-repeat: no-repeat;
    top: 58px;
    left: calc(50% - 40px);
  }


  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/cat-background-box@2x.png");
    background-size: 280px auto;
  }
}


.optionally__offer-title {
  width: 161px;
  font-family: @font-second;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @basic-white;
  text-align: center;
  margin-top: 187px;
}

@media (min-width: @tablet-width) {
  .optionally {
    margin-bottom: 76px;
    padding-top: 0;
  }

  .optionally__list {
    margin-bottom: 66px;
  }

  .optionally__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 80px 36px;
  }

  .optionally__title::after {
    left: 374px;
  }

  .optionally__title::before {
    right: 708px;
  }


  .optionally__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-left: 1px solid @light-gray-vogue;
    border-right: 1px solid @light-gray-vogue;
  }

  .optionally__item-title {
    font-size: 20px;
    line-height: 20px;
    margin: 12px 0 25px 38px;
  }

  .optionally__item-list {
    margin: 15px 38px 0 0;
  }

  .optionally__item-key {
    font-size: 16px;
    line-height: 20px;
  }

  .optionally__item-meaning {
    font-size: 16px;
    line-height: 20px;
    margin-left: 49px;
  }

  .optionally__item-button {
    font-size: 16px;
    line-height: 16px;
    width: 632px;
    margin: 0 auto 11px;
    padding: 12px 0;
  }

  .optionally__offer {
    flex-direction: row;
    justify-content: flex-end;
    width: 708px;
    height: 200px;
    background-image: url("../img/background/cat-box-tablet.png");
    background-repeat: no-repeat;

    &::before {
      left: 77px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/cat-box-tablet@2x.png");
      background-size: 708px auto;
    }
  }

  .optionally__offer-title {
    margin: 0 124px 0 0;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .optionally {
    margin-bottom: 50px;
    padding-top: 11px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .optionally__title {
    margin: 0 0 81px 0;
  }

  .optionally__title::after {
    width: 80vw;
  }

  .optionally__title::before {
    right: 377px;
  }

  .optionally__list {
    width: 896px;
    margin: 0;
    align-self: flex-start;
  }

  .optionally__item {
    display: grid;
    grid-template-columns: 1fr 326px 244px;
    align-items: center;
    padding: 15px 0;
    border-left: none;
    border-right: none;
  }

  .optionally__item-title {
    margin: 0;
  }

  .optionally__item-list {
    margin: 10px 38px 0 0;
    width: 288px;
  }

  .optionally__item-meaning {
    width: 45px;
    margin: 0;
    text-align: left;
  }

  .optionally__item-button {
    width: 244px;
    margin: 0;
  }

  .optionally__offer-title {
    margin: 0 0 42px 0;
    text-align: center;
  }

  .optionally__offer {
    width: 245px;
    height: 289px;
    background-image: url("../img/background/cat-box-desktop.png");
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;

    &::before {
      left: calc(50% - 40px);
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/cat-box-desktop@2x.png");
      background-size: 245px auto;
    }
  }

  .optionally__offer-icon {
    margin: 55px 0 46px 0;
  }
}
