.page-header {
  padding-top: 10px;
}

.page-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__button {
  width: 24px;
  height: 2px;
  background-color: @basic-black;
  border: none;
}

.page-header__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header__item {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid @light-gray;
  padding: 21px 0 24px;
}

.page-header__link {
  text-decoration: none;
  color: @basic-black;
}

@media (min-width: @tablet-width) {
  .page-header {
    padding-top: 24px;
  }

  .page-header__wrapper {
    display: grid;
    grid-template-columns: 174px 1fr;
    height: 52px;
  }

  .page-header__button {
    display: none;
  }

  .page-header__navigation {
    justify-self: end;
  }

  .page-header__list {
    display: flex;
    flex-wrap: wrap;
  }

  .page-header__item {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    border: none;
    margin-left: 35px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1440px;
    padding-top: 53px;
  }

  .page-header__wrapper {
    height: 60px;
  }

  .page-header__item {
    font-size: 20px;
    line-height: 30px;
    color: @basic-white;
  }

  .page-header__link {
    color: @basic-white;
  }

  .page-header__catalog-link {
    color: @basic-dark-pro;
  }
}

