.page-header__logo {
  padding: 10px 20px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__button {
  width: 24px;
  height: 2px;
  background-color: @basic-black;
  border: none;
}

.page-header__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header__item {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid @light-gray;
  padding: 21px 0 24px;
  .page-header__link {
    text-decoration: none;
    color: @basic-black;
  }
}
