.page-header {
  padding: 10px 20px 0;

  @media (min-width: @tablet-width) {
    padding: 24px 30px 0;
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 53px 110px 0;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    display: grid;
    grid-template-columns: 174px 1fr;
    justify-items: end;
  }
}

.page-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .page-header__image:last-of-type {
    display: none;
  }

  @media (min-width: @tablet-width) {
    .page-header__image {
      display: none;
    }

    .page-header__image:last-of-type {
      width: 174px;
      height: 52px;
      display: block;
    }
  }
}

.page-header__button {
  width: 24px;
  height: 2px;
  background-color: @basic-black;
  border: none;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.page-header__item {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid @light-gray;
  padding: 21px 0 24px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    border: none;
    padding: 18px 0 0;
    margin-left: 35px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: @basic-white;
  }
}

.page-header__link {
  text-decoration: none;
  color: @basic-black;

  @media (min-width: @desktop-width) {
    color: @basic-white;
  }
}
