.page-footer {
  background-color: @basic-gray;
}

.page-footer__logo {
  padding: 39px 0 24px;
  border-bottom: 1px solid @gray-special-pro;
  text-align: center;
}

.page-footer__social {
  padding: 15px 0 13px 0;
  border-bottom: 1px solid @gray-special-pro;
}

.page-footer__social-list {
  width: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.page-footer__social-item {
  &:first-child {
    margin-right: 36px;

    & .page-footer__social-image {
      width: 23px;
    }
  }

  &:nth-child(2) {
    margin-right: 40px;

    & .page-footer__social-image {
      width: 16px;
    }
  }

  &:last-child {

    & .page-footer__social-image {
      width: 11px;
    }
  }
}

.page-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 80px;
}

.page-footer__copyright-title {
  font-family: @font-second;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @basic-dark;
  margin: 0;
  align-self: center;
}

.page-footer__copyright-logo {
  margin: 0;
  align-self: center;
}

.page-footer__copyright-link {
  text-decoration: none;
  color: @basic-dark;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 53px;
    padding-bottom: 61px;
    align-items: center;
  }

  .page-footer__logo {
    width: 128px;
    height: 24px;
    padding: 0;
    border: 0;
  }

  .page-footer__image {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .page-footer__social {
    padding: 0;
    border: 0;
  }

  .page-footer__social-list {
    padding-left: 15px;
    width: auto;
  }

  .page-footer__social-item {
    &:first-child {
      margin-right: 28px;

      & .page-footer__social-image {
        width: 30px;
      }
    }

    &:nth-child(2) {
      margin-right: 25px;
      & .page-footer__social-image {
        width: 23px;
      }
    }

    &:last-child {
      & .page-footer__social-image {
        width: 13px;
      }
    }
  }


  .page-footer__social-image {
    &:hover path {
      stroke: @basic-green;
    }

    &:active path {
      // fill: @basic-green;
      opacity: 0.3;
    }
  }

  .page-footer__social-image {
    &:first-child {
      width: 30px;
      height: 22px;
    }
  }

  .page-footer__copyright {
    height: auto;

    &:hover .page-footer__copyright-image path {
      fill: @basic-green;
    }

    &:active .page-footer__copyright-image,
    &:active .page-footer__copyright-title {
      opacity: 0.3;
    }
  }

  .page-footer__copyright-logo {
    margin-left: 22px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 1440px;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
