.partnership {
  background-color: @basic-gray;
}

.partnership__wrapper {
  width: 280px;
  display: flex;
  padding: 28px 0 26px 0;
  margin: 0 auto;
}

.partnership__title {
  width: 139px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: @basic-dark-pro;
  margin: 0;
}

.partnership__list {
  width: 140px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: @font-second;
  font-size: 14px;
  line-height: 20px;
  color: @basic-dark;
}

@media (min-width: @tablet-width) {
  .partnership__wrapper {
    width: 708px;
    justify-content: space-between;
    padding: 65px 42px 54px;
    margin: 0 auto;
  }

  .partnership__title {
    width: 171px;
    height: 82px;
    font-size: 20px;
    line-height: 25px;
  }

  .partnership__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 159px;
    height: 80px;
    font-size: 16px;
    line-height: 20px;
  }

  .partnership__item {
    text-align: end;

    &:first-child {
      margin-bottom: 17px;
    }
  }
}

@media (min-width: @desktop-width) {
  .partnership {
    position: absolute;
    width: 570px;
    height: 201px;
    padding: 61px 89px 51px 76px;
    bottom: 104px;
    left: calc(50% - 610px);
    background-color: @basic-white;
    z-index: 10;
  }

  .partnership__wrapper {
    width: auto;
    padding: 0;
  }

  .partnership__item {
    text-align: left;
  }
}
