.profile {
  // padding: 0 20px;
  max-width: 320px;
  margin: 0 auto 32px;
}

.profile__title {
  font-size: 36px;
  line-height: 36px;
  color: @basic-black;
  font-weight: 400;
  margin: 0 0 37px;
  padding: 0 20px;
}

.profile__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-black;
  margin: 0 0 39px;
  padding: 0 20px;
}

.field-input {
  padding: 14px 15px;

  &[placeholder],
  &::-moz-placeholder,
  &:-moz-placeholder,
  &:-ms-input-placeholder {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: @basic-dark;
  }
}

.profile-form__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-white;
  width: 280px;
  border: none;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.profile-form__remark {
  font-family: @font-second;
  font-size: 14px;
  line-height: 16px;
  color: @basic-black;
  text-align: center;
  margin: 0;
}
