.profile-target {
  border: none;
  border-top: 1px solid @gray-special-pro;
  border-bottom: 1px solid @gray-special-pro;
  padding: 22px 0 20px;
  margin: 0 0 28px 0;
}

.profile-target__list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 45px;
}

.profile-target__item {
  margin-bottom: 25px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}

.profile-target__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-dark-vogue;
}

.profile-target__radio-input + label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid @light-gray-vogue;
  left: -45px;
}

.profile-target__radio-input:checked + label::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: @basic-green;
  left: -37px;
  top: 8px;
}

.profile-target__radio-input:disabled + label {
  opacity: 0.3;
}


@media (min-width: @tablet-width) {
  .profile-target {
    padding: 0;
    margin: 0 0 80px 0;
    border: 0;
  }

  .profile-target__list {
    width: 628px;
    margin: 0 auto;
    border: 1px solid @gray-special-pro;
    padding: 25px 0 25px 89px;
  }

  .profile-target__item {
    margin-bottom: 23px;
  }


  .profile-target__label {
    font-size: 20px;
    line-height: 30px;
  }

  .profile-target__radio-input + label::before {
    width: 40px;
    height: 40px;
    left: -60px;
  }


  .profile-target__radio-input + label:hover::before {
    border-color: @light-gray-style-crazy;
  }

  .profile-target__radio-input:checked + label::after {
    width: 18px;
    height: 18px;
    left: -49px;
    top: 11px;
  }
}

@media (min-width: @desktop-width) {
  .profile-target {
    width: 568px;
    margin: 0;
  }

  .profile-target__list {
    width: inherit;
    height: 196px;
    padding: 26px 0 24px 88px;
  }

  .profile-target__item {
    height: 30px;
  }
}
