// colors
@basic-white: #ffffff;
@basic-dark: #444444;
@basic-dark-vogue: #222222;
@basic-dark-pro: #111111;
@basic-black: #000000;
@basic-black-opacity16: rgba(0, 0, 0, 0.16);
@basic-black-opacity19: rgba(0, 0, 0, 0.19);
@basic-black-opacity20: rgba(0, 0, 0, 0.2);
@basic-black-opacity24: rgba(0, 0, 0, 0.24);
@basic-black-opacity40: rgba(0, 0, 0, 0.4);
@basic-green: #68b738;
@green-hover: #5eaa2f;
@basic-gray: #f2f2f2;
@gray-special: #eaeaea;
@gray-special-pro: #d9d9d9;
@light-gray:#e6e6e6;
@light-gray-pro: #ebebeb;
@light-gray-vogue: #cdcdcd;
@light-gray-style: #dcdcdc;
@light-gray-style-crazy: #bababa;
@gray-super-puper: #e7e7e7;
@basic-color-achtung: #ff8282;

//fonts

@font-second: Arial, sans-serif;

//Viewports

@tablet-width: 768px;
@desktop-width: 1440px;
